<head>
    <link rel="stylesheet" href="../../Styles/AdminIndex.css" type="text/css">
</head>
<a href="AdminIndex"><button class="tilbake"><i class="fas fa-chevron-left"></i>Tilbake</button></a>
<div class="container">
    <div class="main">
        <a href="RegistrerAdmin"><button class="knapp">Registrer ny administrator</button></a>
        <br />
        <a href="EndreAdmin"><button class="knapp">Endre/slett administrator</button></a>

    </div>
    <div class="bilde">
        <img src="../../Images/Vy.png" alt="Vy sin logo" />
    </div>

</div>







