*{
    box-sizing: border-box;
}

#section1{
    display: flex;
    justify-content: space-around;
   
}

table, th, td {
    border: solid black 1px;
    border-collapse: collapse;

}
table {
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
    width: 88%;
    table-layout: fixed;
    text-align: center;
    margin-left:5%;
}
    table tr th:nth-child(2) {
        width: 13%;
    }
table tr th:nth-child(3) {
        width: 19%;
    }
    table tr th:nth-child(4) {
        width: 19%;
    }
    table tr th:nth-child(7) {
        width: 15%;
    }

.InstillRute, .Gjenopprett {
    
    height: 30px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 1em;
    
}

.InstillRute {
    width: 70px;
    background-color: #ffa500;
}
.Gjenopprett {
    width: 80px;
    background-color: #31b81a;
}

h2 {
    margin-left: 1.5em;
    margin-top: 150px;
}
h3 {
    margin-left: 2em;
   
}
