* {
    box-sizing: border-box;
}


table, td {
    border: solid black 1px;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    width: 30%;
}

h2 {
    align-self: flex-start;
    display: inline-block;
}

.EndreAdmin {
    width: 70px;
    background-color: #0595f5;
}

.SlettAdmin {
    background-color: #ff0000;
}

.EndreAdmin, .SlettAdmin {
    height: 30px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 1em;
}
.lagre {
    width: 70px;
    background-color: #31b81a;
    height: 30px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 1em;
}

.liste {   
    font-size: 20px;  
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
    padding: 1em 0 2em 0;
    margin: 150px 2em 0 2em;
     
}

.helper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;  
}
a {
    align-self: flex-end;
}
.registrer {
    width: 100px;
    height: 40px;
    background: none;
    border: solid black 1.25px;
    cursor: pointer;
    margin-bottom: 5px;
    display: inline;
}

#feilMelding {
    border: solid 1.5px black;
    width: 40%;
    height: 15%;
    position: fixed;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5em;
    display: none;
}

h3, p {
    margin-left: 10%;
}

p {
    color: #0d0c0c;
    font-size: 18px;
}

a {
    text-decoration: none;
}

