body {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input textarea {
    resize: none;
    font-size: 1.25rem;
}

.input input, .input textarea {
    width: 30vw;
    border-radius: 1em;
    border: solid black 1px;
}

.input input {
    height: 50px;
    font-size: 1.75rem;
    text-align: center;
}

    .input input:focus, .input textarea:focus {
        border: solid black 3px;
        outline: none;
    }

.container button {
    background-color: #31b81a;
    font-size: 20px;
    color: white;
    border: none;
    padding: 0.5em 1em 0.5em 1em;
    margin: 1.5em 0 0 0;
    cursor: pointer;
    border-radius: 0.3em;
}

    .container button:hover {
        background-color: #329A21;
        transform: scale(1.25, 1.25);
    }
