h3 {
    letter-spacing: 2.5px;
    margin: 0 0 0 8px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 400px;
    height: 60px;
    font-size: 1.5rem;
    letter-spacing: 2.5px;
    border: 1px solid black;
    text-align: center;
}

input[type=submit] {
    background-color: #31b81a;
    font-size: 20px;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
    border-radius: 0.3em;
    border: none;
    margin-top: 1.5em;
}

    input[type=submit]:hover {
        background-color: #329A21;
        transform: scale(1.25, 1.25);
    }