span {
    color: red;
}

input[type=text], input[type=datetime-local] {
    background: none;
    height: 38px;
    width: 300px;
    margin-bottom: 1em;
    font-size: 20px;
    border: .75px solid black;
}


.container {
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
    margin: 150px auto 0 auto;
    width: 90%;
}
img {
    align-self: center;
}

input[type=submit] {
    width: 100px;
    height: 40px;
    margin-top: 1em;
    background: none;
    border: solid black 1.25px;
    cursor: pointer;
    margin-bottom: 2em;
}
