.modal {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 1;
    border: solid black 2px;
    display: inline-block;
    width: 500px;
    height: 350px;
    background: white;
    
}

.login input {
    width: 250px;
    height: 40px;
    padding-left: 5px;
    border: solid 1px;
    font-size: 1.25em;
}

    .login input:focus {
        outline: none;
        border: solid 1.25px;
    }

.LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .login div {
        width: 250px;
        margin: 0;
    }

.modal h3 {
    margin-left: 25%;
}

.modal span {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 48px;
    color: red;
    cursor: pointer;
}

#loggInn {
    background-color: #31b81a;
    
    color: white;
    border-radius: 0;
}