body {
	box-sizing: border-box;
	font-family: sans-serif;
}
.container2 {
    display: flex;
    height: 400px;
    width: 1000px;
    flex-direction: column;
    margin: 15vh 15vw;
}
h2, h4 {
	margin: 0;
}
.billett2 {
	position: relative;
	color: #242323;
	border-radius: 1.5em;
	overflow: hidden;
	width: 1000px;
	height: 400px;
	/* border: solid black 1px; */
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	box-shadow: 0px 0px 25px -10px;
}
.billett-header2, .billett-footer2{
	background-color: #31b81a;
	font-size: 2rem;
	padding-left: 1em;
	height: 1.5em;
	font-weight: 600;
}

.billett-footer2 {
	display: flex;
	justify-content: space-between;

}
.billett-footer2 h6 {
	align-self: center;
	margin: 0 1em 0 0;
	
}

.billett-body2 {
	font-size: 18px;
	display: flex;
	justify-content: space-around;

}
.reise-info2 {
    font-weight: 600;
    width: 273px;
    flex-direction: column;
    margin-top: 1.5em;
}
.reise-info-fra2 {
	
	text-align: left;
	margin-bottom: .5em;
}
.reise-info-fra2::after {
	content: '';
	display: block;
	width: 100%;
	background-color: #242323;
	height: 1px;
}
/* .reise-info-til {
	text-align: right;
} */
.section4, .section6, .section5 {
	align-self: center;
}
.tabell2 {
	display: flex;
	justify-content: space-between;
}
.section6  {
	display: flex;
	justify-content: space-between;
}
.left-right2 {
	text-align: right;
	 margin-left: 3em; 
}
/* .left-left {
	margin-right: 3em;
} */
.right-right2 {
	text-align: right;
	/* margin-left: 3em; */
}
.right-left2 {
	margin-right: 3em;
}
.right-left2::after{
	content: '';
	display: block;
	width: 350%;
	background-color: #242323;
	height: 1px;
}
.left-left2::after {
	content: '';
	display: block;
	width: 215%;
	background-color: #242323;
	height: 1px;
}

.venstre2 {
	border-bottom: solid 1px black;
	
}

table2 {
	border-collapse: collapse;
	margin: 0;
}

img {
	margin-left: -17px;
}
.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tlf2 {
	position: relative;
}
#tlf2::after {
	content: '';
	display: block;
	position: absolute;
	bottom: -45px;
	right: -25px;
	width: 1px;
	background-color: #242323;
	height: 90px;
}
#start2 {
	position: relative;
}
    #start2::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -79px;
        right: -30px;
        width: 1px;
        background-color: #242323;
        height: 127px;
    }

.bakside2 {
	background-color: red;
}
.bakside2 h3 {
	text-align: center;
}

.billett2::before{
	content: '';
	
	
	display: block;
	position: absolute;
	height: 30px;
	width: 30px;
	background-color: white;
	transform: rotate(45deg);
	top:-20px;
	left: 32%;
	border-radius: 5px;


}

.billett2::after{
	content: '';
	display: block;
	position: absolute;
	height: 30px;
	width: 30px;
	background-color: white;
	transform: rotate(45deg);
	bottom:-20px;
	left: 32%;
	border-radius: 5px;
}